# Python
__pycache__/
*.pyc
env/
venv/
.env
.env.*
!.env.example


# Node
node_modules/
.npm/
dist/
build/

# OS
.DS_Store

# PyCharm / VSCode
.idea/
.vscode/

# Django local database
db.sqlite3

# Celery beat schedule file
celerybeat-schedule
backend/celerybeat-schedule
backend/media/recordings/
backend/recordings/
backend/therapy_sessions/migrations/