# Python
__pycache__/
*.pyc
env/
venv/
.env

# Node
node_modules/
.npm/
dist/
build/

# OS
.DS_Store

# PyCharm / VSCode
.idea/
.vscode/

# Django local database
db.sqlite3

# Celery beat schedule file
celerybeat-schedule
backend/celerybeat-schedule
"backend/recordings/" 
